#signInForm {
    width: 25em;
    margin: 1em auto auto;
}

.goChatBtn {
    width: 22em;
    border-radius: 0;
}

#startChat {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#usernameFriend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#messages {
    overflow-y: auto;
}

#reaction {
    font-size: 15px;
}

#signInGoogle {
    background: none;
    color: #039be5;
    border: 0;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 500px) {
    #signInForm {
        width: 21em;
    }

    #chats {
        width: 23em;
        margin: auto;
    }

    #chat, #sendMsgDiv {
        width: 20em;
        margin: auto;
    }
}